<?xml version="1.0" encoding="UTF-8"?>
<manifest android:installLocation="auto" android:versionCode="160003"
    android:versionName="1.6.0" package="com.nlbhub.instead.launcher" xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT"/>
    <uses-sdk android:minSdkVersion="13" android:targetSdkVersion="31"/>

    <!-- OpenGL ES 2.0 -->
    <uses-feature android:glEsVersion="0x00020000" />

    <!-- Required to access Google Play Licensing (used for APK expansion files AKA obb) -->
    <uses-permission android:name="com.android.vending.CHECK_LICENSE" />

    <!-- Required to poll the state of the network connection and respond to changes (required for obb) -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Required to check whether Wi-Fi is enabled (required for obb) -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <!-- Required to download files from Google Play and INSTEAD repositories -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Required to keep CPU alive while downloading files (AND to keep screen awake in-game) -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- Required to read and write the files on shared storage -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application 
        android:name=".LauncherApplication"
        android:usesCleartextTraffic="true"
        android:allowBackup="false"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
        android:icon="@drawable/icon"
        android:label="@string/app_name">
        <!-- android:name=".standalone.MainMenu" for standalone app, android:name=".universal.UniversalMainMenu" for universal app -->
        <activity android:icon="@drawable/icon"
            android:label="@string/app_name"
            android:name=".universal.UniversalMainMenu"
            android:theme="@android:style/Theme.NoTitleBar"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="org.libsdl.app.SDLActivity"
            android:label="@string/app_name"
            android:configChanges="keyboardHidden|orientation"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
        />
        <service android:name="com.nlbhub.instead.standalone.expansion.InsteadDownloaderService" />
        <receiver android:name="com.nlbhub.instead.standalone.expansion.InsteadAlarmReceiver" />
        <activity android:name="com.nlbhub.instead.STEADActivity" android:theme="@android:style/Theme.NoTitleBar.Fullscreen" android:configChanges="keyboard|keyboardHidden|orientation|screenSize"/>
        <activity android:name=".universal.GameManager" android:theme="@android:style/Theme.NoTitleBar" android:configChanges="keyboard|keyboardHidden|orientation"/>
        <activity android:name=".universal.nlb.NLBGameManager" android:theme="@android:style/Theme.NoTitleBar" android:configChanges="keyboard|keyboardHidden|orientation"/>
        <activity android:name=".simple.Options" android:theme="@android:style/Theme.NoTitleBar" android:configChanges="keyboard|keyboardHidden|orientation"/>
        <activity android:name=".universal.AboutGame" android:theme="@android:style/Theme.NoTitleBar" android:configChanges="keyboard|keyboardHidden|orientation"/>
        <activity android:name=".universal.IntentLauncher"
            android:theme="@android:style/Theme.NoTitleBar"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="file"/>
                <data android:scheme="content"/>
                <data android:host="*"/>
                <data android:mimeType="application/zip"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="file"/>
                <data android:scheme="content"/>
                <data android:host="*"/>
                <data android:pathPattern="/.*\\.ZIP"/>
                <data android:pathPattern="/.*\\.zip"/>
                <data android:pathPattern="/.*\\.QM"/>
                <data android:pathPattern="/.*\\.qm"/>
                <data android:pathPattern="/.*\\.IDF"/>
                <data android:pathPattern="/.*\\.idf"/>
                <data android:mimeType="*/*"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="application/zip"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="file"/>
                <data android:scheme="content"/>
                <data android:host="*"/>
                <data android:pathPattern="/.*\\.ZIP"/>
                <data android:pathPattern="/.*\\.zip"/>
                <data android:pathPattern="/.*\\.QM"/>
                <data android:pathPattern="/.*\\.qm"/>
                <data android:pathPattern="/.*\\.IDF"/>
                <data android:pathPattern="/.*\\.idf"/>
                <data android:mimeType="*/*"/>
            </intent-filter>
        </activity>
        <receiver android:icon="@drawable/icon"
            android:label="@string/add_widget"
            android:name=".universal.GameIcon"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_info"/>
        </receiver>
        <activity android:name=".universal.GameChooser"
            android:theme="@android:style/Theme.Translucent"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
            </intent-filter>
        </activity>
        <receiver android:enabled="false" android:name=".universal.IconReceiver"/>
        <activity android:label="@string/add_cut"  android:icon="@drawable/game48"
            android:name=".universal.Shortcut"
            android:theme="@android:style/Theme.Translucent"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".universal.FavoritList" android:theme="@android:style/Theme.NoTitleBar" android:configChanges="keyboard|keyboardHidden|orientation"/>
        <activity android:name=".universal.GameDirs" android:theme="@android:style/Theme.NoTitleBar" android:configChanges="keyboard|keyboardHidden|orientation"/>
    </application>
</manifest>
